<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="db.provider" value="MySql.Data.MySqlClient" />
		<add key="db.hostname" value="database-prog3-0681.czyu42uq2yue.us-east-1.rds.amazonaws.com"/>
		<add key="db.username" value="admin" />
		<add key="db.password" value="1inf300681prog3" />
		<add key="db.port" value="3306" />
		<add key="db.database" value="prog3" />
	</appSettings>
</configuration>